<footer class="footer">
  <div class="footer__container">
    <section>
      <p class="footer__about-text">
        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. Cevadis im ampola pa arma uma pindureta.
      </p>
    </section>
    <address>
      <h2 class="footer__title"></h2>
      <ul>
        <li>
          <i class="fa-solid fa-envelope"></i>
          email@email.com
        </li>
        <li>
          <i class="fa-solid fa-phone"></i>
          (81)998470817
        </li>
        <li>
          <i class="fa-brands fa-whatsapp"></i>
          (81)985205650
        </li>
      </ul>
    </address>
  </div>
  <section class="footer__copyrigth">
    &copy; Todos os direitos reservados
  </section>
</footer>

